// Font Sizes
$default-font-size: 2.5rem;
// Font Sizes

// Primary Colors
$color-primary: #3498db;
$color-secondary: rgb(235, 224, 228);

$color-grey-text: rgb(53, 50, 50);

$color-white: #fff;
$color-black: #000;
// Primary Colors

//Transform States

$transform-0: translate(-50%, -50%) scale(0);
$transform-1: translate(-50%, -50%) scale(1);
$transform-default: translate(-50%, -50%);